extends _layout
include _components

prepend head
	- let title = 'Home'
	- let description = 'Stupid Cities is a project to collect data about problems you encounter within your city or local area'

prepend body
	- let bodyClass = 'page-home'
	- let hasInfo = false

block content
	header.header-main.back-dark
		p Welcome to
		.logo-full
			include ../public/images/logo.svg
			h1(aria-label="Stupid Cities") Stupid Cities

	section.intro.back-light
		p Our cities are badly designed, exclude and endanger

		p Tag the glitches you find
			a.btn--regular(href="add")
				+svg('pin')
				| Tag

		p View other's contributions
			a.btn--regular(href="map")
				+svg('map')
				| Map

