extends layout
block content
	h1 Upload
	<div id="map"></div>
	<pre id="coordinates" class="coordinates"></pre>


	<div class="map-overlay top">
		<div class="map-overlay-inner">
			<h2>Upload Photo</h2>
			form(method='post' enctype='multipart/form-data')
				<label id="month"></label>
				input(type='file' name='fileupload' accept="image/*;capture=camera")
				input(type='hidden' name='longlat' id='longlat')
				input(type='submit' value='Save')

	script.
		mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zZXBod2lsayIsImEiOiJjazVxcDRtY3YwNGVqM2xvNnJobTB0cHpjIn0.C-6rOSTM39XSSutwoOurkA';
		var coordinates = document.getElementById('coordinates');
		var longlatInput = document.getElementById('longlat');
		var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',
		center: [-2.3599, 51.3758],
		zoom: 12
		});

		locate = new mapboxgl.GeolocateControl({
		positionOptions: {
			enableHighAccuracy: true
		},
			trackUserLocation: false
		})
		map.addControl(locate);
		locate.trigger();

		var marker = new mapboxgl.Marker({
		draggable: true
		})
		.setLngLat([-2.3599, 51.3758])
		.addTo(map);

		var nav = new mapboxgl.NavigationControl();
		map.addControl(nav, 'top-right');

		var circleMarker;
		map.on('click', function(e) {
		    circleMarker = marker
				.setLngLat(e.lngLat)
				.addTo(map);

				longlatInput.value = e.lngLat;

		    //var originLatLng;

		    // // listen to the marker dragstart event
		    // circleMarker.on('dragstart', function (e) {
		    //     originLatLng = circleMarker.getLatLng();
		    //     console.log(originLatLng);
		    // });
				//
		    // // listen to the marker dragend event
		    // circleMarker.on('dragend', function (e) {
		    //     console.log(circleMarker.getLatLng());
		    // });
				//
		    // // listen to the marker click event
		    // circleMarker.on('click', function(e){
		    //     console.log(e);
		    //     this.setIcon(redIcon);
		    // });
		});



		function onDragEnd() {
		var lngLat = marker.getLngLat();
		longlatInput.value = lngLat;
		}

		marker.on('dragend', onDragEnd);
