extends layout
block content
  <div id="map"></div>
  script.
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zZXBod2lsayIsImEiOiJjazVxcDRtY3YwNGVqM2xvNnJobTB0cHpjIn0.C-6rOSTM39XSSutwoOurkA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v10',
      center: [-2.3820395, 51.3801519],
      zoom: 14,
    });

    var others   =  ['==', ['get', 'rating'], null];
    var good      = ['<=', ['get', 'rating'], 0];
    var bad       = ['>', ['get', 'rating'], 0];

    map.on('load', function() {
      map.addSource('ma', {
           type: 'geojson',
           cluster: true,
           data: '/events',
           'clusterRadius': 80,
            clusterMaxZoom: 13,
           'clusterProperties': {
            'good':    ['+', ['case', good, 1, 0]],
            'bad':     ['+', ['case', bad,  1, 0]],
            'others':  ['+', ['case', others,  1, 0]],
           },
      });

      map.addLayer({
        'id': 'population',
        'type': 'circle',
        'source': 'ma',
        paint: {
          'circle-opacity': 0.6,
          'circle-color': ['case',
            others, '#51bbd6',
            good,   'green',
            bad,    'red',
            'green'],
          'circle-stroke-width': 1,
          'circle-stroke-color': '#fff',
          'circle-radius': [
            'step',
            ['get', 'point_count'],
            20,5,
            30,10,
            40
            ]
          }
        });

        map.addLayer({
          id: 'cluster-count',
          type: 'symbol',
          source: 'ma',
          layout: {
          'text-field': '{point_count_abbreviated}',
          'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
          'text-size': 14
          }
          });


          // inspect a cluster on click
          map.on('click', 'clusters', function(e) {
          var features = map.queryRenderedFeatures(e.point, {
          layers: ['clusters']
          });
          var clusterId = features[0].properties.cluster_id;
          map.getSource('earthquakes').getClusterExpansionZoom(
          clusterId,
          function(err, zoom) {
          if (err) return;

          map.easeTo({
          center: features[0].geometry.coordinates,
          zoom: zoom
          });
          }
          );
          });

      });
