extends _layout
include _components

prepend head
	- let title = 'Success | Stupid Cities'
	- let description = 'Image upload has been successful, if you want you can add more detail to your image'

append head
//- add any unique head links & scripts

prepend body
	- let bodyClass = 'page-success'
	- let hasInfo = false

block content
	+darkHeader('Thanks! Your tag has been saved')

	.form
		p Are there any more details you would like to add?

		form(role="form" action="/events/"+eventId method="POST")
			h3 How do you feel? (select one)
			+moodRadios()

			h3 Category

			.pick-cat
				input(type="radio" id="design" name="category" value="design")
				label(for="design") Street Design

				input(type="radio" id="obstacle" name="category" value="obstacle")
				label(for="obstacle") Temporary Obstacle

				input(type="radio" id="other" name="category" value="other")
				label(for="other") Other

			h3 Anything Else?

			.notes
				label(for="notes") Notes
				textarea(name="notes" id="notes" aria-label="Add a note")


			input(type='submit' value='Save' class='btn--regular')

		a(href='add') Back to map


prepend overlays
//- any info errors success etc

block scripts
//- page unique scripts