 body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; height: 100% }
#panel { position: absolute; top: 5; bottom: 5; background: #ffffff; border: 1px; }
.map-overlay { font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; position: absolute; width: 25%; top: 0; left: 0; padding: 10px;}
.map-overlay .map-overlay-inner {background-color: #fff;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);border-radius: 3px;padding: 10px;margin-bottom: 10px;}
.map-overlay h2 {display: block;margin: 0 0 10px;}
.map-overlay input {display: inline-block;width: 100%;position: relative;margin: 0;cursor: ew-resize; padding: 10px;}
.license { font-size: 0.7rem; line-height: 15px; }

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 480px) {

  .map-overlay input{ font-size: 0.8rem; padding: 3px;}
  .map-overlay { font-size: 0.9rem; }
  .map-overlay {position: absolute; width: 85%; top: 0; left: 0;}
  .map-overlay h2 {font-size: 1.4rem; margin: 0 0 1px;}
}
