body,
#map,
#panel,
.map-overlay,
.map-overlay .map-overlay-inner,
.map-overlay h2,
.map-overlay input,
.license { -webkit-animation: none 0s ease 0s 1 normal none running; animation: none 0s ease 0s 1 normal none running; -webkit-backface-visibility: visible; backface-visibility: visible; background: transparent none repeat 0 0 / auto auto padding-box border-box scroll; border: medium none currentColor; border-collapse: separate; -o-border-image: none; border-image: none; border-radius: 0; border-spacing: 0; bottom: auto; box-shadow: none; box-sizing: content-box; caption-side: top; clear: none; clip: auto; color: #000; -moz-columns: auto; columns: auto; -moz-column-count: auto; column-count: auto; -moz-column-fill: balance; column-fill: balance; grid-column-gap: normal; -moz-column-gap: normal; column-gap: normal; -moz-column-rule: medium none currentColor; column-rule: medium none currentColor; -moz-column-span: 1; column-span: 1; -moz-column-width: auto; column-width: auto; content: normal; counter-increment: none; counter-reset: none; cursor: auto; direction: ltr; display: inline; empty-cells: show; float: none; font-family: serif; font-size: medium; font-style: normal; font-feature-settings: normal; font-variant: normal; font-weight: normal; font-stretch: normal; line-height: normal; height: auto; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; left: auto; letter-spacing: normal; list-style: disc outside none; margin: 0; max-height: none; max-width: none; min-height: 0; min-width: 0; opacity: 1; orphans: 2; outline: medium none invert; overflow: visible; overflow-x: visible; overflow-y: visible; padding: 0; page-break-after: auto; page-break-before: auto; page-break-inside: auto; perspective: none; perspective-origin: 50% 50%; position: static; right: auto; -moz-tab-size: 8; -o-tab-size: 8; tab-size: 8; table-layout: auto; text-align: left; -moz-text-align-last: auto; text-align-last: auto; text-decoration: none; text-indent: 0; text-shadow: none; text-transform: none; top: auto; transform: none; transform-origin: 50% 50% 0; transform-style: flat; transition: none 0s ease 0s; unicode-bidi: normal; vertical-align: baseline; visibility: visible; white-space: normal; widows: 2; width: auto; word-spacing: normal; z-index: auto; all: initial; }
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; height: 100% }
#panel { position: absolute; top: 5; bottom: 5; background: #ffffff; border: 1px; }
.map-overlay { font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; position: absolute; width: 25%; top: 0; left: 0; padding: 10px;}
.map-overlay .map-overlay-inner {background-color: #fff;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);border-radius: 3px;padding: 10px;margin-bottom: 10px;}
.map-overlay h2 {display: block;margin: 0 0 10px;}
.map-overlay input {display: inline-block;width: 100%;position: relative;margin: 0;cursor: ew-resize; padding: 10px;}
.license { font-size: 0.7rem; line-height: 15px; }

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 580px) {
  .map-overlay input{ font-size: 0.7rem; padding: 3px;}
  .map-overlay { font-size: 0.9rem; }
  .map-overlay {position: absolute; width: 85%; top: 0; left: 0;}
  .map-overlay h2 {font-size: 1.1rem; margin: 0 0 1px;}
  .license { font-size: 0.5rem; line-height: 15px; }
}
