/* for overlays container see _page.css */

/* all boxes */
.alert {
	box-sizing: border-box;
	position: relative;
	width: 80vw; max-width: 700px;
	padding: calc(var(--size)*1.5);
	background-color: var(--light);
	border: 4px solid var(--dark);
}
.alert .close {
	position: absolute;
	top: 0px; right: 0px;
}

/* info (nav) */
.info {
}

/* errors & successes - default styping is success */
.message {
	border-color: var(--secTwo);
}

/* error specific */
.error {
	border-color: var(--primTwo);
}
