/* add page form */
.input-upload input {
	visibility: hidden;
	display: block;
}

/* mood radios */
.pick-mood input {
	visibility: hidden;
}

.pick-mood label {
	display: inline-block;
	padding: calc(var(--size)*2);
	background: none;
	-webkit-mask-image: radial-gradient(closest-side,black 60%, transparent 99%);
}
.pick-mood label span {display: none;}

.pick-mood input:checked + label.mood--happy {
	background-color: var(--secTwo);
}
.pick-mood input:checked + label.mood--meh {
	background-color: var(--secOne);
}
.pick-mood input:checked + label.mood--sad {
	background-color: var(--primOne);
}
.pick-mood input:checked + label.mood--angry {
	background-color: var(--primTwo);
}

.loading-spinner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  position: relative;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 10px 10px 0;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.loading-spinner.-paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0.2;
  -webkit-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;
}
.loading-spinner::before {
  -webkit-animation: 1.5s linear infinite spinner;
          animation: 1.5s linear infinite spinner;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
  border: solid 3px var(--dark);
  border-bottom-color: var(--light);
  border-radius: 50%;
  content: "";
  height: 20px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 20px;
  will-change: transform;
}
.loading-spinner.-paused + .btn {
  background-color: #2ecc71;
  color: #323232;
}

.loading-spinner-btn {
  display: inline-block;
  margin: 0 auto 40px;
}
