.page-success .form {
	padding: calc(var(--size)*2);
	text-align: center;
}

.page-success .form h3 {
	padding-bottom: var(--size);
}
.page-success .form label,
.page-success .form input,
.page-success .form textarea {font-size: var(--fontSize);}

.page-success .form .pick-cat {
	padding-bottom: calc(var(--size)*2);
}
.page-success .form .pick-cat label {
	padding: 0 calc(var(--size)*2) 0 calc(var(--size)/2);
}

.page-success .form .notes {
	padding-bottom: calc(var(--size)*2);
}
.page-success .form .notes label {
	display: none;
}
.page-success .form .notes textarea {
	width: 50vw; max-width: 500px;
	height: 7rem;
	border: 1px solid grey;
}
.page-success .form .btn--regular {
	margin-bottom: var(--size);
}
